.ieditor-workspace{
	margin:20px;
}
.edit-area{
	width:98%;
	height:600px;
	position: relative;
	border:2px solid gold;
	overflow: scroll;
	padding: 20px;
}

#mainSvg{

}
#uploadPhoto{
	position: absolute;
	top:280px;
	left:330px;
}
@media only screen and (max-width: 600px) {
    .edit-area {width:98%;height:350px;}
    #uploadPhoto{top:180px;left:25%;};
    .ieditor-workspace{margin:auto;}
}
.tool-area{
	width:100%;
	background: grey;
	position: fixed;
	bottom: 0px;
	left:0px;
	text-align: center;
}
.tool{
	display: inline-block;
	text-align: center;
	background: #F5F525;
	margin:5px;
	width:60px;
}
.tool small{
	display: block;
}
.tool i{
	font-size:30px;
}

.effect-area{
	background: lightgrey;

}

.side-panel{
	position: fixed;
	right:-300px;
	width:300px;
	border: 2px solid blue;
	height:80%;
	bottom:20px;
	transition:right 0.5s;
}
.effict-img{
	height:100px;
	width:100px;
}




